{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 140,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "strict",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"printWidth": 1000
			}
		}
	]
}
